<% include ../partials/header %>
<style>
    table td, table th {
    word-break: break-all;
}
</style>
<div class="container pt-4">
<header style=" height: 60px;margin-bottom: 0px;">
    <div style="display: flex;">
        <div style="width: 150px;height: 60px;border: 1px solid #f2f5f7; ">
            <p  style="height: 100%;font-weight: 700; width: 100%;display: flex;align-items: center;justify-content: center; background-color: #007ebd; color: #FFF;">
                Users
            </p>
            </div>
        <div style="width: 150px;height: 60px; background-color: #f2f5f7;">
            <a href="/approvals/equipments" style="height: 100%;color: #666; width: 100%;display: flex;align-items: center;justify-content: center;">
                Equipments
            </a>
            </div>
    </div>

</header>
<div class="user-container mb-5" >
    <div style="display: none;" id="custom-users-modal-wrapper">
        <div class="custom-users-modal">
            <h5 style="text-align: center;">Please mention your reason.</h5>
            <input id="user-reject-reason" placeholder="Enter" ></input>
            <div>
                <button onclick="closeModal()">Cancel</button>
                <button onclick="handleReject()">Confirm</button>

            </div>

        </div>
    </div>
    <div style="display: none;" id="user-loading-modal-wrapper">
        <div class="user-loading-modal">
            <img src="https://img.icons8.com/fluency/96/000000/loading.png"/>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- <h1 class="my-5 font-weight-normal text-center"><i class="fas fa-users"></i> Users</h1> -->
            <% if(users && users.length > 0) { %>
            <table class="table table-striped table-bordered table-hover m-0 p-0">
                <thead class="">
                    <tr class="bg-info">
                        <th style="white-space: nowrap;" scope="col"  width="4%">#</th>
                        <th  style="white-space: nowrap;" scope="col">Username</th>
                        <th style="white-space: nowrap;" scope="col">Name</th>
                        <th style="white-space: nowrap;" scope="col">Surname</th>
                        <!-- <th style="white-space: nowrap;" scope="col">Email</th> -->
                        <th style="white-space: nowrap;width: 100px;" scope="col">Phone No.</th>
                        <th style="white-space: nowrap;" scope="col">User Type</th>
                        <th style="white-space: nowrap;" scope="col">Memsa Id</th>
                        <th style="white-space: nowrap;" scope="col">Company Name</th>
                        <th style="white-space: nowrap;" scope="col">Status</th>
                        <% if(currentUser.isAdmin){ %>
                        <th style="white-space: nowrap;" scope="col" width="15%">Action</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i = 0; i < users.length; i++) { %>
                    <tr id= "<%='row'+users[i]._id%>">
                        <th scope="row" style="margin: 0px;padding: 3px;"><%=i+1%></th>
                        <td style="margin: 0px;padding: 3px;" title="<%=users[i].email%>"><a href="/users/<%=users[i]._id%>"><%=users[i].username%></a></td>
                        <td style="margin: 0px;padding: 3px;"><%=users[i].firstname%></td>
                        <td style="margin: 0px;padding: 3px;"><%=users[i].lastname%></td>
                        <!-- <td style="white-space: pre-wrap;"><a href="mailto:<%=users[i].email%>" class="btn btn-link"><%=users[i].email%></a></td> -->
                        <td style="margin: 0px;padding: 3px;"><%=users[i].phone%></td>
                        <td style="margin: 0px;padding: 3px;text-transform: capitalize;"><%=users[i].userType%></td>
                        <td style="margin: 0px;padding: 3px;"><%=users[i].mesmaId%></td>
                        <td style="margin: 0px;padding: 3px;"><a href=" <%=users[i].website%>"><%=users[i].companyName%></a></td>
                     
                        <td style="vertical-align: middle;margin: 0px;padding: 3px;" >
                      <div class="user-dropdown-static" style="justify-content: center;align-items: center;">
                         <p id="status<%=users[i]._id %>" style="margin: 0; justify-content: center;white-space: nowrap;"><%= users[i].status.toUpperCase() %>  </p>
                            
                      </div>

                        </td>

                        
                        <% if(currentUser.isAdmin){ %>
                    <td style="border: 0; white-space: nowrap;display: flex; justify-content: space-evenly;" class="users-last-column">
                        <button id="app<%=users[i]._id %>"  style="border: none;background-color: transparent;" onclick="handleUserApproval('<%=users[i]._id%>', 'approved')" 
                            class="<%= users[i].status.toLowerCase() === "approved" ?"button_disabled":"" %>">
                            <img style="height: 24px; width: 24px;" src="/images/icons/approve.png"/>
                          </button>
                          <button id="rej<%=users[i]._id %>" style="border: none;background-color: transparent;"  class ="<%= users[i].status.toLowerCase() === "rejected"?"button_disabled":""  %> " onclick="openUsersModal('<%=users[i]._id%>')" class="approve-buttons">
                            <img style="height: 24px; width: 24px;" src="/images/icons/reject.png"/>
                          </button>
                        <a href='/approvals/users/<%=users[i]._id%>/edit' style="border: none;background-color: transparent;">
                            <img style="height: 24px; width: 24px;" src="/images/icons/edit.png"/>
                        </a>
                        
                            <button onclick="openDeleteModal('<%=users[i]._id%>')" style="border: none;background-color: transparent;">
                                <img style="height: 24px; width: 24px;" src="/images/icons/delete.png"/>
                            </button>
                      
                    </td>
                    <% } %>
                    
    <div style="display: none;" class="custom-user-delete-modal-wrapper" id="<%=users[i]._id%>">
        <div class="custom-users-delete-modal">
            <img src="https://img.icons8.com/external-bearicons-gradient-bearicons/64/000000/external-warning-essential-collection-bearicons-gradient-bearicons.png"/>
            <h4>Are you sure to delete <%=users[i].firstname%></h4>
            <p>You won't be able to revert it</p>
            <div>
                <form action="/approvals/<%=users[i]._id%>?_method=DELETE" method="POST">
                    <button class="dm-continue">Yes, Delete</button>
                </form>
                <button class="dm-cancel" onclick="closeDeleteModal('<%=users[i]._id%>')">Cancel</button>

            </div>
        </div>

    </div>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
            <h3 class="text-center">No registered users found</h3>
            <% } %>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>